body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling while the popup is open */
}

.addproduct-popupbtn {
    font-family: "Quicksand", sans-serif;
    background-color: #e5ffff;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    min-width: 150px;
    height: 40px;
    border: none;
    background: #e5ffff;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    transition: box-shadow 0.3s ease;
}

.addproduct-popupbtn:hover {
    border: none;
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.addproduct-popupbtn:focus {
    border: none;
    box-shadow: inset 10px 10px 10px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline-width: 0px;
}

.addproduct-popup-content {
    position: fixed;
    top: -15vh;
    left: -142.1vh;
    width: 184.4vh;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addproduct-popup-content-inner {
    font-family: "Quicksand", sans-serif;
    position: relative;
    padding: 64px;
    max-width: 320px;
    border-radius: 10px;
    background-color: #81ccc0;
    place-content: center;
}

.addproduct-text {
    font-weight: bolder;
    font-size: 20px;
    color: #e5ffff;
    position: fixed;
    top: 150px;
}

.ProdName {
    font-family: "Quicksand", sans-serif;
    background: #e5ffff;
    height: 30px;
    width: 95.5%;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    color: rgb(52, 96, 99);
    border-radius: 5px;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
    margin-bottom: 10px;
    border: none;
}

.ProdName:hover {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.ProdName:focus {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.SupName {
    font-family: "Quicksand", sans-serif;
    background: #e5ffff;
    height: 30px;
    width: 95.5%;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    color: rgb(52, 96, 99);
    border-radius: 5px;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
    margin-bottom: 10px;
    border: none;
}

.SupName:hover {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.SupName:focus {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.Price {
    font-family: "Quicksand", sans-serif;
    background: #e5ffff;
    height: 30px;
    width: 95.5%;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    color: rgb(52, 96, 99);
    border-radius: 5px;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
    margin-bottom: 10px;
    border: none;
}

.Price:hover {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.Price:focus {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.SerNum {
    font-family: "Quicksand", sans-serif;
    background: #e5ffff;
    height: 30px;
    width: 95.5%;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    color: rgb(52, 96, 99);
    border-radius: 5px;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
    margin-bottom: 10px;
    border: none;
}

.SerNum:hover {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.SerNum:focus {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.ExpiryDateText {
    font-weight: bold;
    color: #e5ffff;
}

input[type="date"] {
    font-family: "Quicksand", sans-serif;
    background: #e5ffff;
    height: 30px;
    width: 95.5%;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    color: rgb(52, 96, 99);
    border-radius: 5px;
    transition: all 0.3s ease;
    transform-style: preserve-3d; 
    margin-bottom: 10px;
    border: none;
}

input:hover[type="data"] {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

input:focus[type="date"] {
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline: none;
}

.addproduct-exitbtn{
    font-family: "Quicksand", sans-serif;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    background: #e5ffff;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    transition: box-shadow 0.3s ease;
    margin-right: 10px;
}

.addproduct-exitbtn:hover {
    border: none;
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.addproduct-exitbtn:focus {
    border: none;
    box-shadow: inset 10px 10px 10px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline-width: 0px;
}

.addproduct-submitbtn{
    font-family: "Quicksand", sans-serif;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    background: #e5ffff;
    box-shadow: 6px 6px 12px #b2d9d9
                -6px -6px 12px #e9ffff;
    transition: box-shadow 0.3s ease;
    margin-right: 10px;
}

.addproduct-submitbtn:hover {
    border: none;
    box-shadow: inset 6px 6px 6px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
}

.addproduct-submitbtn:focus {
    border: none;
    box-shadow: inset 10px 10px 10px -1px #b2d9d9,
                inset -10px -10px 10px -1px #e9ffff;
    outline-width: 0px;
}
