@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&family=Shanti&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Comme:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.AuthenticationPages{
  
  display: flex; 
  color: rgb(0, 0, 0);
  background-color: #e5ffff;
  height: 100vh;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.WidthFlexContainer{
  flex:1;
  
  background-color: rgb(245, 222, 179,0);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  
}
.HeightFlexContainer{
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 255,0);
  flex:1;
}
.ImaginaryWidth{
  background-color: rgba(247, 5, 5, 0);
  width: 10px;
  height: 100%;
}

.ImaginaryHeight{
  background-color: rgb(238, 0, 0,0);
  height: 10.9px;
}
.LoginContainer{
  width: 100%;
  flex:1;
  max-height: 487px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  min-height: 250px;
  z-index: auto;
  /* top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
border-radius: 50px;
/* background: #f10505; */
background: #e2ffff; 
box-shadow:  20px 20px 60px #b9d6d6,
             -20px -20px 60px #e5ffff;

}

.TitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  opacity: 1;
  font-family: Roboto,Arial;
  font-size: 35px;
}
.Title-Box{
  pointer-events: none;
  margin-top: -43px;
  margin-bottom: -10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 19px;
  background: rgb(217, 252, 252,0);
  /* box-shadow:  6px 6px 13px #b9d6d6,
               -6px -6px 13px #e5ffff; */
  /* background: rgb(251, 251, 251);
  box-shadow:  12px 12px 25px #dbdbdb,
               -10px -10px 20px #ffffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  opacity: 0.9;
}
.BigTitle{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-right: -8px;
  opacity: 1;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 40px;
  color: #feffff;
  pointer-events: none;
}
.SubTitle-Container{
  margin-left: 5px;
  margin-right:8px;
  margin-top: 4px;
  border-radius: 8.5px;
  /* background: #e2ffff;
  box-shadow: inset 5px 5px 10px #b9d6d6,
              inset -5px -5px 10px #e5ffff; */
  opacity: 0.65;
  padding-right: 2.2px;
  padding-left: 6px;
}
.SubTitle{
  pointer-events: none;
  margin-left: 15px;
  letter-spacing: 3.3px;
  opacity: 1;
  font-size: 15px;
  color: #feffff;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
  /* background: #d1ffff; */
/* background: linear-gradient(to top right, #0bcfcf 6%, #4d7677 59%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}


.LoginContentContainer{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  flex:5;

  /* background-color: #0a2324;  */
}



.LogoBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-bottom: 10px;
  margin-top: -77px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
   border-radius: 50px;
  background: linear-gradient(145deg, #e0ffff, #bce6e6);
  box-shadow:  11px 11px 22px #b2d9d9,
               -11px -11px 22px #e9ffff; 
  opacity: 0.8;
  pointer-events: none;

}

.LogoBulge{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
   background: #d1ffff; 
   box-shadow: inset -20px -20px 39px #b2d9d9,
              inset 20px 20px 39px #e9ffff; 
}

.LogoIcon {
  padding-bottom: 60px;
  width: 170px;
  opacity: 1;
  pointer-events: none;
  
}

.LogoContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-right: -50px;
  padding-right: 45px;
  background-color: #7FCDC1;
}
.LoginContentBox{
  position: relative;
  display: grid;
  grid-template-rows: 1.25fr 2fr 1fr ;
  border-radius: 50px;
 background: #CEF5F5; 
/* box-shadow:  10px 10px 20px #b2d9d9,
             -30px -30px 61px #ddfcfc; */
}

.PageTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;

}

.PageTitleBox{
  font-weight: 300;
  font-size: 69px;
  padding: 15px 40px 5px 40px;
  letter-spacing: -3px;
  background: #b4d3d3;
  background: linear-gradient(to top right, #b4d3d3 0%, #288181 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer{
  display: grid;
  grid-template-columns: 2rem 1fr 1.5rem;
  grid-template-rows: 1fr 1fr;
  row-gap: 3%;
}
.Username-Box{
  margin-top: -20px;
  display: flex;
  align-items: center;
  position: relative;
}

.Password-Box{
  margin-top: -45px;
  display: flex;
  align-items: center;
  position: relative;
}
.OuterContainer{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  outline-width: 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: 0,0,0,0;
  border-radius: 8px;
  /* box-shadow: 7px 7px 7px -1px #b2d9d9,
            -10px -10px 10px -1px #e9ffff;       */
}
.OuterContainer .UsernameContainer{
  position: relative;
  width: 100%;
  max-width: 350px;
}
.OuterContainer .UsernameContainer input{
  padding: 10px;
  font-size: 15px;
  
  width: 100%;
  border: none;
  outline-width: 0px;
  background: #e5ffff;
  border-radius: 8px;
  color: rgb(4, 80, 80);
  height: 30px;
}

/* .UsernameContainer input{
  transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(52, 96, 99);
    
    box-shadow: 6px 6px 12px #b2d9d9
    -6px -6px 12px #e9ffff;
    padding-left: 25px;
    outline-width: 0;
    
    transform-style: preserve-3d; 
} */
.OuterContainer .UsernameContainer label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 12px;
  font-size: 13px;
  pointer-events: none;
  transition: 0.5s;
  color: darkcyan;
}
.OuterContainer .UsernameContainer label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 12px;
  font-size: 13px;
  pointer-events: none;
  transition: 0.5s;
  color: darkcyan;
}

.Username-Box input:focus + label {
  top:-36px;
  left: -1px;
  font-size: 15px;
  color: darkcyan;

}
.Password-Box input:focus + label {
  top:-36px;
  left: -1px;
  font-size: 15px;
  color: darkcyan;

}
.Username-Box input:valid +label{
  top:-36px;
  left: -1px;
  font-size: 15px;
  color: darkcyan;

}
.Password-Box input:valid +label{
  top:-36px;
  left: -1px;
  font-size: 15px;
  color: darkcyan;

}
/* .OuterContainer:hover{
  box-shadow: inset 10px 10px 10px -1px #b2d9d9,
  inset -10px -10px 10px -1px #e9ffff;
    
}
 .OuterContainer:active{
  box-shadow: inset 10px 10px 10px -1px rgb(178, 217, 217,0),
  inset -10px -10px 10px -1px rgb(233, 255, 255,0);
  outline-width: 0px;
} 
.UsernameContainer:hover{
  box-shadow: inset 6px 6px 6px -1px #b2d9d9,
    inset -10px -10px 10px -1px #e9ffff;
}

.UsernameContainer:active{
  box-shadow: inset 10px 10px 10px -1px #b2d9d9,
    inset -10px -10px 10px -1px #e9ffff;
    outline-width: 0px;
} */

/* input {
  border: none;
}
.UsernameContainer::placeholder{
  color: #346063;
  margin-left: -83px;
  
} */
.Password-Box .UsernameContainer::placeholder{
  margin-left: -87px;
}
/* .Icontainer{
  max-width: 8px;
  max-height: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #e5ffff;
   /* box-shadow:  6px 6px 12px #b2d9d9,
               -6px -6px 12px #f0ffff;  
 } */
/* .User_Icon{
  margin-top: 6px;
  font-size: 20px;
  color: #3e9e9e;
} */

.PasswordContainer{
  max-width: 350px;
  min-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background-color: black;
  max-height: 38px;
  border-radius: 30px;
  color: white;
}

.EnterContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom-right-radius: 50px;
  margin-top: -30px;
}

.EnterButton{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  flex:1;
  border-radius: 4px;
  width: 100%;
  max-height: 38px;
  height: 100%;
  margin-left: 40px;
  margin-bottom: 60px;
  margin-right: 20px;
  max-width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
background: linear-gradient(360deg, #7FCDC1, #68dfdf);
/* box-shadow:  9px 9px 17px #b2d9d9,
             -9px -9px 17px #f0ffff; */
    transition: 0.5s;
    border-width: 0;
}

.EnterButton:hover{
  font-size: 18px;
  font-weight: bold;
}

.EnterButton:active{
  background: linear-gradient(145deg, #affafa, #78d4d4);
}

@media (min-width: 0px) and (max-width:600px) {

  .TitleContainer{
    flex: 0.5;
  }
  .LoginContentContainer{
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr;
  }
  .LogoContainer{
    border-bottom-left-radius: 0px;
    margin: 10px 10px 1px 10px;
    background-color: lightgreen;
  }
  .LoginContentBox{
    display: grid;
    grid-template-rows: 1.25fr 2fr 1fr ;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 10px 10px 10px 10px;
    background-color: lightsalmon
  }

  .EnterContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: lightgray;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  
  }

  .InputContainer{
    background-color: lightpink;
    display: grid;
    grid-template-columns: 18% 1fr 18%;
    grid-template-rows: 1fr 1fr;
    row-gap: 3%;
  }
}